
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(53, 63, 82);
}

footer{
    margin-top: auto;
}

.hidden {
    display: none !important;
}

.uk-input, .uk-search-input {
    border-radius: 5px;
}

.content-wrapper {
    padding: 20px 10px;

    @media (max-width: 768px) {
        padding: 10px 10px;
    }
}

.uk-breadcrumb {
    margin: 20px 0;
}

.spinner-container {
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

div.summary p {
    font-size: 18px;
    word-wrap: break-word;
}

.details-table {
    display: block;
    width: 100%;
    font-size: 16px;

    .details-row {
        display: flex;
        flex-direction: row;
        padding: 20px 10px;
        border-bottom: 1px solid #e0e0e0;
    
        &:first-child {
            border-top: 1px solid #e0e0e0;
            
        }

        > div {
            color: rgb(53, 63, 82);
            word-wrap: break-word;
            width: 80%;

            &:first-child {
                width: 20%;
                color: #828282;
                padding-right: 5px;
            }
        }
    
        @media (max-width: 768px) {
            & {
                flex-direction: column;
                padding: 10px 10px;
                > div {
                    width: 100%;
    
                    &:first-child {
                        width: 100%;
                    }
                }
            }
        }

    }
}

.ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.show-on-small {
    display: none;
}

@media (max-width: 960px) {
    .hide-on-small {
        display: none;
    }
    .show-on-small {
        display:block;
    }
}

@media (max-width: 768px) {
    .hide-under-768 {
        display: none;
    }
}

.json-data-container {
    max-width: 100%;
    overflow-x: scroll;
    padding: 10px;
    background: #27a4f505;
    border: 1px solid #e0e0e0;
    border-radius: 4px;

    @media (max-width: 768px) {
        font-size: 12px;
    }
}
