lit-footer {
    display: flex;
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 1000;

    background-color: #111921;
    color: #fff;
    height: 51px;
    overflow: hidden;
    margin-top: auto;

	flex-direction: row;
	justify-content: space-between;
	
    font-size: 10px;

	@media (min-width: 375px) {
		font-size: 12px;
	}	

	@media (min-width: 586px) {
		font-size: inherit;
	}

	div {
		height: 100%;
		display: flex;
		padding: 0 10px;
		align-items: center;
	}

	img {
		height: 24px;
	}
}