lit-header {
    display: block;

    div.header  {
        background: #39f;
        background: linear-gradient(to left, #28a5f5, #1e87f0);
        color: #fff;
    }

    .uk-navbar-nav>li>a {
        color: rgba(255,255,255,0.8);
        &:hover {
            color: rgba(255,255,255,1);
        }
    }

    .uk-navbar-nav>li.uk-active>a {
        color: white;
    }

    .uk-navbar-right{ 

    }
    .uk-navbar-toggle {
        svg {
            color: white;
        }
    }
    .uk-offcanvas-bar {
        .uk-nav-header {
            font-size: 18px;
        }

        a {
            padding: 10px 5px;            
            font-size: 18px;
        }
    }
}