lit-header {
    display: block;

    div.header  {
        background: #39f;
        background: linear-gradient(to left, #28a5f5, #1e87f0);
        color: #fff;
    }

    .uk-navbar-nav>li>a {
        color: rgba(255,255,255,0.8);
        &:hover {
            color: rgba(255,255,255,1);
        }
    }

    .uk-navbar-nav>li.uk-active>a {
        color: white;
    }

    .uk-navbar-right{ 
        > div{
            display:flex;
            flex-direction: row; 
            align-items: center;

            .scan-button {
                cursor: pointer;
                border: 1px solid rgba(255,255,255,0.0);
                margin: 0 5px;
                padding: 5px;
                &:hover {
                    border: 1px solid rgba(255,255,255,0.8);
                }
            }
        }
    }
}