lit-home {
    display: block;

    .table-load-more {
        text-align: center;

        button {
            margin: 0 auto;
            position:relative;
            top:-35px;
            z-index:2;
            background: white;

            &:hover, &:active, &:focus {
                background: white;
            }
        }
    }
    

    .uk-table {
        th {
            text-transform: none;
            font-weight: 400;
            color: black;
            padding: 8px 10px;
            border-bottom: 2px solid #CCC;
        }
    
        tbody tr:nth-of-type(even), .uk-table-striped>tr:nth-of-type(even) {
            background: #f8f8f8;
            border-top: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;
        }    
    }
}

