lit-search {    
    display:flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;

    *::placeholder 
    {
        color: #333333F0  !important;
        opacity: 1;
    }    

    form.uk-search {
        width: 500px;

        .uk-icon {
            padding: 0 5px
        }
        input {
            text-indent: 20px;
            
        }
    }

    .scan-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        cursor: pointer;
        border: 1px solid rgba(255,255,255,0.0);
        margin: 0 5px;
        padding: 5px;
        &:hover {
            border: 1px solid rgba(255,255,255,0.8);
        }
    }
}