lit-transaction {
    display: block;
    
    
    .json-data-container {
        max-width: 100%;
        overflow-x: scroll;
        padding: 10px;
        background: #27a4f505;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
    }
}