lit-broadcast {
    display: block;

    .error-message {
        color: red;
    }

	.raw-transaction {
		margin: 5px;
		padding: 5px;
		border: 1px solid #EEE;
		word-wrap: break-word;
		font-size: 13px;
	}
    
}